* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

#myCanvas {
  /* border-radius: 9999px; */
}
